.container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;
  height: auto;
  width: 500px;
}

.radio {
  font-family: "FiraCode Nerd Font", monospace; /* Set font-family to monospace */
  font-size: 20px;
  color: #ec7a1c;
  border: 2px solid #ec7a1c;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px;
  width: 477px;
  display: flex;
  justify-content: space-evenly;
}